
body{
    text-align: center;
    margin:0px;
    background: white  ;
}

.container{
    width: 800px;
    text-align: left;
    margin:0px auto;
	text-align:left;
    background: WhiteSmoke; 
    
}

.header{
    
    background: url(images/rvHeader.jpg) no-repeat;
    height:246px; 
    width:800px; 
}

form{

    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 200px;
    
}


.content{
    
}

.nav{
    
}


.flash{
    display: inline;
    float: right;
}


.statement{
    
    overflow: auto;
    
}

.statement h2{

}

.statement p{
    padding: 10px;
    font:italic 14px/25px Georgia, serif;
   
}

.statement img{
    float: right;
    margin: 0;
}

.certifications{
    position: static;
    
}

h2 {
    margin: none;
    padding: 10px;
    background: Blue;
    color: white; 
}

.columns{
    position: relative;
    
    height: 450px;
    /*background: lightGrey;*/

}

.columns li{
   
    list-style: none;
    font: bold 14px arial;
    color: black; 
    height: 30px; 
}

.license{
    list-style: none;
    font: bold 14px arial;
    color: black; 
}

.column{
    position: absolute;
    
    border-bottom:  1px;
    width: 33%;
   
    border-style:none;
    text-align: center;
  /*  border-right: 1px single #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    */
}

.columnHeader{
    padding: 5px 5px 5px 5px;
    height: 30px;
    /*background: DarkGrey;*/
    font: bold 20px arial;
    
}

.column h3{
    padding: 15px;
    margin: none;
    background: green; 
}

.column1{
    left:0px;
}


.column2{
    
    left: 266px;
}


.column3{
    left: 532px;
    
}



.footer{
    
    background: lightGrey;
    text-align: center;
    margin: 10px 0 0 0;
}

.footer p{
    padding: 0 0 10px 0;
}	

/* Styles for the entire LavaLamp menu */
.lavaLamp {
    position: relative;
    height: 29px; 
    width: 770px;
    background: Orange top;
    padding: 15px; 
    margin: 0 0 0 0;
    overflow: hidden;
}
    /* Force the list to flow horizontally */
    .lavaLamp li {
        float: left;
        list-style: none;
    }
    
    .lavaLamp .item{
        float: right;
        list-style: none;
        margin: 0 5px 0 0;
        width: 100px; 
        height: 38px;
        
    }
        /* Represents the background of the highlighted menu-item. */
        .lavaLamp li.back {
            background: white right -30px;
            width: 9px; height: 5px;
            z-index: 8;
            position: absolute;
        }
            .lavaLamp li.back .left {
                background: white bottom left;
                height: 5px;
                margin-right: 9px;
            }
        /* Styles for each menu-item. */
        .lavaLamp li a {
            position: relative; overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            font: bold 14px arial;
            color: black; outline: none;
            text-align: center;
            height: 30px; top: 7px;
            z-index: 10; letter-spacing: 0;
            float: left; display: block;
            margin: auto 10px;
        }